// Custom styles.
$main-width = 1000px;

.main-inner {
    width: $main-width;
}
.header-inner {
    width: $main-width;
}
.footer-inner {
    width: $main-width;
}

.back-to-top, .sidebar-toggle {
    right: 70px;
}