// Custom styles.
$main-width = 95%;
$first-color: #ffad33
$second-color: #ffad33
$sub-color: #ffad33

.main-inner {
    width: $main-width;
}
@media (min-width: 1600px)
    .main-inner
        width $main-width !important;

.header-inner {
    width: $main-width;
}
.footer-inner {
    width: $main-width;
}

.back-to-top, .sidebar-toggle {
    right: 70px;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#ff9900), to(#ffad33), color-stop(.6,#fec207));
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

