// Custom styles.
$main-width = 95%;
// $first-color = #FED136;
// $second-color = #ffdd68;
// $third-color = #ffe690;
// $opposite-color = #4339b1;

/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: tint(#adb0b8, 50%);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: tint(#adb0b8, 20%);
}

/* 首页 */
a:hover {
    border-bottom-color: $first-color;
}
.menu .menu-item a:hover {
    background: $third-color;
}
.posts-expand .post-title-link::before {
    background-color: $first-color;
}

/* 详情 */
.main-inner {
    width: $main-width;
}
@media (min-width: 1600px)
    .main-inner
        width $main-width !important;
.header-inner {
    width: $main-width;
}
.footer-inner {
    width: $main-width;
}
.back-to-top, .sidebar-toggle {
    right: 70px;
}

/* markdown标题编号 */
.post-body {
    // h1 {
    // 	counter-increment: counter_h1;
    // 	counter-reset: counter_h2;
    // }
    // h1:before {
    // 	content: counter(counter_h1)"　";
    // }
    h2 {
        counter-increment: counter_h2;
        counter-reset: counter_h3;
    }
    h2:before {
        content: counter(counter_h2)"　";
    }
    h3 {
        counter-increment: counter_h3;
        counter-reset: counter_h4;
    }
    h3:before {
        content: counter(counter_h2)"."counter(counter_h3)"　";
    }
    h4 {
        counter-increment: counter_h4;
        counter-reset: counter_h5;
    }
    h4:before {
        content: counter(counter_h2)"."counter(counter_h3)"."counter(counter_h4)"　";
    }
    h5 {
        counter-increment: counter_h5;
        counter-reset: counter_h6;
    }
    h5:before {
        content: counter(counter_h2)"."counter(counter_h3)"."counter(counter_h4)"."counter(counter_h5)"　";
    }
    h6 {
        counter-increment: counter_h6;
    }
    h6:before {
        content: counter(counter_h2)"."counter(counter_h3)"."counter(counter_h4)"."counter(counter_h5)"."counter(counter_h6)"　";
    }
}

/* 右侧大纲默认展开一层 */
.post-toc .nav .nav-level-2>.nav-child {
   display: block;
}

.drift-frame-controller {
    margin-right: 100px;
}

